Regression/Source/BatchTestUtils/Service References/PortfolioManagementServiceReference/mex32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Contract.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Contract.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditRiskPropertiesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditLimit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CreditLimitIsoCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Netting" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditRiskPropertiesDto" nillable="true" type="tns:CreditRiskPropertiesDto" />
</xs:schema>