Regression/Source/BatchTestUtils/Service References/DealServiceReference/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lonnb-dm7:8009/DealService/mex?xsd=xsd0" namespace="Elviz.API" />
  <xs:import schemaLocation="http://lonnb-dm7:8009/DealService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Services.API" />
  <xs:complexType name="ArrayOfKeyValueOfintTransactionStatus17_SYw1mS">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintTransactionStatus17_SYw1mS">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="Elviz.API" name="Value" type="q1:TransactionStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintTransactionStatus17_SYw1mS" nillable="true" type="tns:ArrayOfKeyValueOfintTransactionStatus17_SYw1mS" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfPropertyValuePairNTrcir93">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfPropertyValuePairNTrcir93">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Services.API" name="Value" nillable="true" type="q2:ArrayOfPropertyValuePair" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfPropertyValuePairNTrcir93" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfPropertyValuePairNTrcir93" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
</xs:schema>