Regression/Source/BatchTestUtils/Service References/DealServiceReference/mex5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Services.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Services.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPropertyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyValuePair" nillable="true" type="tns:PropertyValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyValuePair" nillable="true" type="tns:ArrayOfPropertyValuePair" />
  <xs:complexType name="PropertyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="PropertyGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyValuePair" nillable="true" type="tns:PropertyValuePair" />
</xs:schema>