Regression/Source/BatchTestUtils/Service References/LookUpServiceReference/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Services.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Services.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInstrumentCodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstrumentCodes" nillable="true" type="tns:InstrumentCodes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstrumentCodes" nillable="true" type="tns:ArrayOfInstrumentCodes" />
  <xs:complexType name="InstrumentCodes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codes" nillable="true" type="tns:ArrayOfInstrumentCode" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstrumentCodes" nillable="true" type="tns:InstrumentCodes" />
  <xs:complexType name="ArrayOfInstrumentCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstrumentCode" nillable="true" type="tns:InstrumentCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstrumentCode" nillable="true" type="tns:ArrayOfInstrumentCode" />
  <xs:complexType name="InstrumentCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstrumentCode" nillable="true" type="tns:InstrumentCode" />
</xs:schema>