Regression/Source/BatchTestUtils/Service References/LookUpServiceReference/mex625.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Contract.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Viz.Integration.Core.Contract.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PriceSeries">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractPriceSeries">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PriceSeries" nillable="true" type="tns:PriceSeries" />
  <xs:complexType name="AbstractPriceSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractPriceSeries" nillable="true" type="tns:AbstractPriceSeries" />
</xs:schema>