Regression/Source/BatchTestUtils/Service References/InternalJobService/mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://bradyplc.com/etrm/Jobs/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bradyplc.com/etrm/Jobs/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://bradyplc.com/etrm/Jobs/v1/Imports">
      <xsd:import schemaLocation="http://netvs-qa171a02:8009/JobService/mex?xsd=xsd0" namespace="http://bradyplc.com/etrm/Jobs/v1" />
      <xsd:import schemaLocation="http://netvs-qa171a02:8009/JobService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://netvs-qa171a02:8009/JobService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobService_QueryJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryJobs" />
  </wsdl:message>
  <wsdl:message name="IJobService_QueryJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_SubmitJobExecution_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitJobExecution" />
  </wsdl:message>
  <wsdl:message name="IJobService_SubmitJobExecution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitJobExecutionResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetExecutionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExecutionStatus" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetExecutionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExecutionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_WaitForExecutionStatusChange_InputMessage">
    <wsdl:part name="parameters" element="tns:WaitForExecutionStatusChange" />
  </wsdl:message>
  <wsdl:message name="IJobService_WaitForExecutionStatusChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:WaitForExecutionStatusChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_QueryJobExecutionLog_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryJobExecutionLog" />
  </wsdl:message>
  <wsdl:message name="IJobService_QueryJobExecutionLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryJobExecutionLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobService">
    <wsdl:operation name="QueryJobs">
      <wsdl:input wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/QueryJobs" message="tns:IJobService_QueryJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/QueryJobsResponse" message="tns:IJobService_QueryJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitJobExecution">
      <wsdl:input wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/SubmitJobExecution" message="tns:IJobService_SubmitJobExecution_InputMessage" />
      <wsdl:output wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/SubmitJobExecutionResponse" message="tns:IJobService_SubmitJobExecution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExecutionStatus">
      <wsdl:input wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/GetExecutionStatus" message="tns:IJobService_GetExecutionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/GetExecutionStatusResponse" message="tns:IJobService_GetExecutionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WaitForExecutionStatusChange">
      <wsdl:input wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/WaitForExecutionStatusChange" message="tns:IJobService_WaitForExecutionStatusChange_InputMessage" />
      <wsdl:output wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/WaitForExecutionStatusChangeResponse" message="tns:IJobService_WaitForExecutionStatusChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryJobExecutionLog">
      <wsdl:input wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/QueryJobExecutionLog" message="tns:IJobService_QueryJobExecutionLog_InputMessage" />
      <wsdl:output wsaw:Action="http://bradyplc.com/etrm/Jobs/v1/IJobService/QueryJobExecutionLogResponse" message="tns:IJobService_QueryJobExecutionLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>