Regression/Source/BatchTestUtils/Service References/CurveServiceReference/mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Elviz.API" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Elviz.API" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Elviz.API/Imports">
      <xsd:import schemaLocation="http://netvs-qa163a01:8009/CurveService/mex?xsd=xsd1" namespace="Elviz.API" />
      <xsd:import schemaLocation="http://netvs-qa163a01:8009/CurveService/mex?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://netvs-qa163a01:8009/CurveService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://netvs-qa163a01:8009/CurveService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurveService_GetPriceCurve_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceCurve" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetPriceCurve_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceCurveResponse" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetPriceCurveByCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceCurveByCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetPriceCurveByCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceCurveByCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetForwardInterestRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForwardInterestRates" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetForwardInterestRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForwardInterestRatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetForwardExchangeRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForwardExchangeRates" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetForwardExchangeRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForwardExchangeRatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetPriceCurveByCriteria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceCurveByCriteria" />
  </wsdl:message>
  <wsdl:message name="ICurveService_GetPriceCurveByCriteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceCurveByCriteriaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurveService">
    <wsdl:operation name="GetPriceCurve">
      <wsdl:input wsaw:Action="Elviz.API/ICurveService/GetPriceCurve" message="tns:ICurveService_GetPriceCurve_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/ICurveService/GetPriceCurveResponse" message="tns:ICurveService_GetPriceCurve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceCurveByCurrency">
      <wsdl:input wsaw:Action="Elviz.API/ICurveService/GetPriceCurveByCurrency" message="tns:ICurveService_GetPriceCurveByCurrency_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/ICurveService/GetPriceCurveByCurrencyResponse" message="tns:ICurveService_GetPriceCurveByCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForwardInterestRates">
      <wsdl:input wsaw:Action="Elviz.API/ICurveService/GetForwardInterestRates" message="tns:ICurveService_GetForwardInterestRates_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/ICurveService/GetForwardInterestRatesResponse" message="tns:ICurveService_GetForwardInterestRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForwardExchangeRates">
      <wsdl:input wsaw:Action="Elviz.API/ICurveService/GetForwardExchangeRates" message="tns:ICurveService_GetForwardExchangeRates_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/ICurveService/GetForwardExchangeRatesResponse" message="tns:ICurveService_GetForwardExchangeRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceCurveByCriteria">
      <wsdl:input wsaw:Action="Elviz.API/ICurveService/GetPriceCurveByCriteria" message="tns:ICurveService_GetPriceCurveByCriteria_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/ICurveService/GetPriceCurveByCriteriaResponse" message="tns:ICurveService_GetPriceCurveByCriteria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>