Regression/Source/BatchTestUtils/Service References/VolatilityServiceReference/mex1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Elviz.API" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Elviz.API" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Elviz.API/Imports">
      <xsd:import schemaLocation="http://netvs-qa152a01:8009/VolatilityService/mex?xsd=xsd0" namespace="Elviz.API" />
      <xsd:import schemaLocation="http://netvs-qa152a01:8009/VolatilityService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://netvs-qa152a01:8009/VolatilityService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVolatilityService_GetImplicitVolatilitiesFromSurface_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImplicitVolatilitiesFromSurface" />
  </wsdl:message>
  <wsdl:message name="IVolatilityService_GetImplicitVolatilitiesFromSurface_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImplicitVolatilitiesFromSurfaceResponse" />
  </wsdl:message>
  <wsdl:message name="IVolatilityService_GetImplicitVolatilitiesForStripFromSurface_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImplicitVolatilitiesForStripFromSurface" />
  </wsdl:message>
  <wsdl:message name="IVolatilityService_GetImplicitVolatilitiesForStripFromSurface_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImplicitVolatilitiesForStripFromSurfaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IVolatilityService">
    <wsdl:operation name="GetImplicitVolatilitiesFromSurface">
      <wsdl:input wsaw:Action="Elviz.API/IVolatilityService/GetImplicitVolatilitiesFromSurface" message="tns:IVolatilityService_GetImplicitVolatilitiesFromSurface_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/IVolatilityService/GetImplicitVolatilitiesFromSurfaceResponse" message="tns:IVolatilityService_GetImplicitVolatilitiesFromSurface_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImplicitVolatilitiesForStripFromSurface">
      <wsdl:input wsaw:Action="Elviz.API/IVolatilityService/GetImplicitVolatilitiesForStripFromSurface" message="tns:IVolatilityService_GetImplicitVolatilitiesForStripFromSurface_InputMessage" />
      <wsdl:output wsaw:Action="Elviz.API/IVolatilityService/GetImplicitVolatilitiesForStripFromSurfaceResponse" message="tns:IVolatilityService_GetImplicitVolatilitiesForStripFromSurface_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>