Regression/Source/CurveServer/Service References/CurveServiceReference/mex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://qa132a:8009/CurveService/mex?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimedouble">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimedouble" type="tns:KeyValuePairOfdateTimedouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimedouble" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimedouble" />
  <xs:complexType name="KeyValuePairOfdateTimedouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element name="value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimedouble" nillable="true" type="tns:KeyValuePairOfdateTimedouble" />
</xs:schema>